<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
		<filter>
		<filter-name>Login Filter</filter-name>
		<filter-class>com.identicum.oidc.OidcFilter</filter-class>
		<init-param>
			<param-name>redirectUri</param-name>
			<param-value>${oidc.redirect_uri}</param-value>
		</init-param>
 		<init-param>
             <param-name>authorizationRequestUriParameter</param-name>
             <param-value>${oidc.auth_request_uri_param}</param-value>
         </init-param>
		<init-param>
			<param-name>metadataEndpoint</param-name>
			<param-value>${oidc.discovery_endpoint}</param-value>
		</init-param>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>${oidc.client_id}</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>${oidc.client_secret}</param-value>
		</init-param>
		<init-param>
			<param-name>scopes</param-name>
			<param-value>${scopes}</param-value>
		</init-param>
		<init-param>
			<param-name>appPostLogoutRedirectURI</param-name>
			<param-value>${oidc.post_logout_redirect_uri}</param-value>
		</init-param>
		<init-param>
			<param-name>enableRequestParameter</param-name>
			<param-value>${oidc.enable_request_parameter}</param-value>
		</init-param>
		<init-param>
			<param-name>requestObjectSigningAlg</param-name>
			<param-value>${oidc.request_object_signing_alg}</param-value>
		</init-param>
		<init-param>
			<param-name>skipSSLCertValidation</param-name>
			<param-value>${oidc.skip_ssl_cert_validation}</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Logout Filter</filter-name>
		<filter-class>com.identicum.oidc.OidcLogoutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Login Filter</filter-name>
		<url-pattern>/menu/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Login Filter</filter-name>
		<url-pattern>/oauth/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Logout Filter</filter-name>
		<url-pattern>/oidc/logout</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
